{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}
<div id="options-wrapper" width="100vw" style="background-color: #545454;">
    <!-- Our controls will go here! -->
</div>
<div id="flowfield-wrapper">
    <!-- Our sketch will go here! -->
</div>
<script src="{{asset "flowfield/p5/lib/p5.min.js"}}"></script>
<script src="{{asset "flowfield/p5/lib/addons/p5.dom.min.js"}}"></script>
<script src="{{asset "flowfield/flowfield.js"}}"></script>